@import url("https://fonts.googleapis.com/css2?family=Teko:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Smooch&family=Teko:wght@400;700&display=swap");
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

/* my code ----------------------------- */
.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Teko', sans-serif;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #313131;
  color: white;
  padding: 1.1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header a {
  text-decoration: none;
  color: white;
}

.header .logo a {
  color: #ff069f;
  font-weight: bolder;
  font-size: 1.1em;
  letter-spacing: 5px;
  -webkit-text-decoration: double;
          text-decoration: double;
  background-color: #313131;
  padding: .3em;
  -webkit-box-shadow: magenta 1.5px 1.5px 1.5px;
          box-shadow: magenta 1.5px 1.5px 1.5px;
  border: #fffb01 2px solid;
  border-style: inset;
}

.header .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2em;
  font-family: 'Teko', sans-serif;
  font-size: 1.2em;
  margin-right: 8em;
  font-weight: bold;
}

.header .links a:hover {
  color: #fffb01 !important;
  letter-spacing: 4px;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: yellow;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2em;
  border: #313131 2px solid;
}

.hero img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: #ff0062 5px solid;
}

.hero .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: .5em;
}

.hero .text h1 {
  font-size: 2.5em;
}

.hero .text p {
  font-size: 1.3em;
}

.hero .text button {
  border: turquoise 3px solid;
  border-radius: 1em;
  font-family: 'Teko', sans-serif;
  font-size: 1.8em;
  background-color: #ff069f;
  margin-top: 1.5em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: .3em;
  color: white;
  border-style: outset;
}

.hero .text button:hover {
  cursor: pointer;
  background-color: yellow;
  border: #030303 2px solid;
  border-radius: 1em;
  color: black;
  border-style: inset;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url(assets/brickwall.avif);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1em;
}

.content p.dev {
  text-align: center;
  font-size: 4em;
  color: #61f8e9;
  font-family: 'Smooch', cursive;
  text-shadow: #ff006a 2px 2px 2px;
}

.content img {
  height: 250px;
  width: 200px;
  border: rgba(111, 0, 155, 0.397) 2px solid;
  border-radius: 50%;
  -webkit-box-shadow: magenta 1px 4px 3px;
          box-shadow: magenta 1px 4px 3px;
}

.content .images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1em;
}

.content .images-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.7em;
  gap: 5em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  margin-top: 23px;
  color: yellow;
  text-shadow: black 2px 2px 2px;
}

.quote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
/*# sourceMappingURL=style.css.map */